<!DOCTYPE html>
<html lang="pt-br" ng-app="listaTelefonica">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css">
    <style>
        .jumbotron{
            width: 400px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
        }
        .table{
            margin-top: 20px;
        }
        .form-control{
            margin-bottom: 5px;
        }
        .selecionado{
            background-color: yellow;
        }
    </style>
    <script src="lib/angular/angular.js"> </script>
    <script>
        angular.module("listaTelefonica", []);
        angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function($scope){
            $scope.app = "Lista telefonica";

            $scope.operadoras = [
                {nome: "Oi", codigo: 14, categoria: "Celular"},
                {nome: "Vivo", codigo: 15, categoria: "Celular"},
                {nome: "Tim", codigo: 12, categoria: "Celular"},
                {nome: "Claro", codigo: 11, categoria: "Celular"},
                {nome: "GVT", codigo: 1150, categoria: "Fixo"},
                {nome: "Embratel", codigo: 1153, categoria: "Fixo"}
                ];

            $scope.contatos = [
                {nome:"Pedro", telefone:"9999-9999", cor: "red"},
                {nome:"Fabio", telefone:"9999-9999", cor: "yellow"},
                {nome:"Paulo", telefone:"9999-9999", cor: "blue"}
            ];

            $scope.adicionarContato = function (contato) {
                $scope.contatos.push(angular.copy(contato) );
                delete $scope.contato;
            }

            $scope.apagarContatos = function (contatos){
                $scope.contatos = contatos.filter(function (contato){
                    if (!contato.selecionado) return contato;
                });   
            };

            $scope.isContatoSelecionado = function (contatos) {
                return contatos.some(function(contato){
                    return contato.selecionado;
                });
            }; 
        });
    </script>
    <title>Lista telefonica</title>
</head>
<body ng-controller="listaTelefonicaCtrl">
    <div class="jumbotron container">
        <h3>{{app}}</h3>
        <table ng-show="contatos.length > 0" class="table">
            <tr>
                <th></th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>operadora</th>
                <th></th>
            </tr>
            <tr ng-class="{selecionado: contato.selecionado}" ng-repeat="contato in contatos">
                <td><input type="checkbox" ng-model="contato.selecionado"></td>
                <td>{{contato.nome}}</td>
                <td>{{contato.telefone}}</td>
                <td>{{contato.operadora.nome}}</td>
                <td><div style="width: 20px; height: 20px;" ng-style="{'background-color': contato.cor}"></div></td>
            </tr>
        </table>
        <hr/>
        <input class="form-control" type="text" ng-model="contato.nome" placeholder="nome">
        <input class="form-control" type="text" ng-model="contato.telefone" placeholder="telefone">
        <select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome group by operadora.categoria for operadora in operadoras">
            <option value="">Selecione uma operadora</option>
        </select>
        <button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" 
        ng-disabled="!contato.nome || !contato.telefone">Adicionar contato</button>
        <button class="btn btn-danger btn-block" ng-click="apagarContatos(contatos)"
        ng-show="isContatoSelecionado(contatos)">Excluir contatos</button>
    </div>

    <div ng-include="'footer.html'"></div>
</body>
</html>