<div class="jumbotron container">
    <h3>{{app}}</h3>
    <input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="Procure aqui"> </input>
    {{message}}
    <table ng-show="contatos.length > 0" class="table">
        <tr>
            <th></th>
            <th>Serial</th>
            <th><a href="" ng-click="ordenarPor('nome')" >Nome</a></th>
            <th><a href="" ng-click="ordenarPor('telefone')" >Telefone</a></th>
            <th>Operadora</th>
            <th>Data</th>
            <th></th>
        </tr>
        <tr ng-class="{selecionado: contato.selecionado}" ng-repeat="contato in contatos | limitTo:10 | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao ">
            <td><input type="checkbox" ng-model="contato.selecionado"></td>
            <td>{{contato.serial}}</td>
            <td><a href="#detalhesContato/{{contato.id}}">{{contato.nome}}</a></td>
            <td>{{contato.telefone}}</td>
            <td>{{contato.operadora.nome | lowercase}}</td>
            <td>{{contato.data | date:'HH:mm'}}</td>
            <td><div style="width: 20px; height: 20px;" ng-style="{'background-color': contato.cors.cor || contato.cor}"></div></td>
        </tr>
    </table>
    <hr/>
    <a class="btn btn-primary btn-block" href="#/novoContato">Novo contato</a>
    <button class="btn btn-danger btn-block" ng-click="apagarContatos(contatos)"
    ng-show="isContatoSelecionado(contatos)">Excluir contatos</button>
</div>
